* {
  font-family: monospace;
  color: midnightblue;
}

h1 {
  text-align: center;
  transition: 250ms;
}

h1:hover {
  color: teal;
}

header {
  height: 120vh;
  background: url(assets/headerBlur.png);
}
